<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de Mercado</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" href = "../static/css/index.css">
</head>
<body>
    <header>
        <h1><span class="text-primary">MERCADO</span> ONCLICK</h1>
    </header>

    <div class="container">
        <a href="{{ url_for('produtos.obter_produtos') }}" class="btn-primary">Gerenciar Produtos</a>
        <a href="{{ url_for('clientes.obter_clientes') }}" class="btn-primary">Gerenciar Clientes</a>
        <a href="{{ url_for('pedidos.get_pedidos_html') }}" class="btn-primary">Gerenciar Pedidos</a>
    </div>

    <footer>
        <p>&copy; 2025 MERCADO ONCLICK. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
