<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Produto</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produto_id.css') }}">
    <link rel="stylesheet" href = "../static/css/produto_id.css">
</head>

<body>
    <header>
        <h1><span class="text-primary">MERCADO</span> ONCLICK</h1>
    </header>

    <main class="container">
        <h2>Detalhes do Produto</h2>

        <section class="detalhes">
            <p><strong>ID:</strong> {{ produto.id }}</p>
            <p><strong>Nome:</strong> {{ produto.nome }}</p>
            <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
            <p><strong>Estoque:</strong> {{ produto.estoque }}</p>
        </section>

        <!-- Botão para excluir produto -->
        <form action="{{ url_for('produtos.deletar_produto', id_produto=produto.id) }}" method="POST">
            <button type="submit" class="btn btn-danger">Excluir Produto</button>
        </form>

        <!-- Botão para atualizar produto -->
        <a href="{{ url_for('produtos.exibir_formulario_atualizar_produto', id_produto=produto.id) }}" class="btn btn-primary">Atualizar Produto</a>

        <!-- Voltar para lista de produtos -->
        <a href="{{ url_for('produtos.obter_produtos') }}" class="btn btn-secondary">Voltar para a lista de produtos</a>
    </main>

    <footer>
        <p>&copy; <span id="current-year"></span> MERCADO ONCLICK</p>
    </footer>
</body>

</html>
