<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Atualizar Produto</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produto_update.css') }}">
    <link rel="stylesheet" href = "../static/css/produto_update.css">
</head>

<body>
    <header>
        <h1><span class="text-primary">MERCADO</span> ONCLICK</h1>
    </header>

    <main class="container">
        <h2>Atualizar Produto</h2>

        <form action="{{ url_for('produtos.atualizar_produto_por_id', id_produto=produto.id) }}" method="POST">
            <input type="hidden" name="_method" value="PUT"> <!-- Simula método PUT -->

            <label for="nome">Nome do Produto:</label>
            <input type="text" id="nome" name="nome" value="{{ produto.nome }}" required>

            <label for="preco">Preço:</label>
            <input type="number" id="preco" name="preco" step="0.01" value="{{ produto.preco }}" required>

            <label for="estoque">Estoque:</label>
            <input type="number" id="estoque" name="estoque" value="{{ produto.estoque }}" required>

            <button type="submit" class="btn btn-primary">Salvar Alterações</button>
        </form>

        <a href="{{ url_for('produtos.exibir_detalhes_produto', id_produto=produto.id) }}" class="btn btn-secondary">Cancelar e voltar</a>
    </main>

    <footer>
        <p>&copy; <span id="current-year"></span> MERCADO ONCLICK</p>
    </footer>
</body>

</html>
