<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Produtos</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/produtos.css') }}">
    <link rel="stylesheet" href = "../static/css/produtos.css">
</head>

<body>
    <header>
        <h1><span class="text-primary">MERCADO</span> ONCLICK</h1>
    </header>

    <main class="container">
        <section id="product-dashboard">
            <div class="section-header">
                <h2>Lista de Produtos</h2>
            </div>

            <table class="product-table">
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Preço</th>
                        <th>Estoque</th>
                    </tr>
                </thead>
                <tbody>
                    {% for produto in produtos %}
                        <tr>
                            <td class="produto-nome" title="{{ produto.nome }}">
                                <a href="{{ url_for('produtos.exibir_detalhes_produto', id_produto=produto.id) }}">
                                    {{ produto.nome }}
                                </a>
                            </td>
                            <td>R$ {{ produto.preco }}</td>
                            <td>{{ produto.estoque }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

            <a class="btn-primary" href="{{ url_for('produtos.exibir_formulario_criar_produto') }}">Cadastrar Novo Produto</a>
        </section>
    </main>

    <footer>
        <p>&copy; <span id="current-year"></span> MERCADO ONCLICK</p>
    </footer>
</body>

</html>
